{
  "$schema": "https://filu-x.org/schemas/follow_list-v{{ version }}.json",
  "version": "{{ version }}",
  "author": "@{{ username }}",
  "pubkey": "{{ pubkey }}",
  "follows": [],
  "updated_at": "{{ now_iso8601 }}",
  "signature": "{{ signature }}"
}
