{
  "$schema": "https://filu-x.org/schemas/manifest-v{{ version }}.json",
  "version": "{{ version }}",
  "manifest_version": "{{ manifest_version }}",
  "author": "@{{ username }}",
  "root_cid": null,
  "entries": [],
  "access_points": [],
  "signature": "{{ signature }}"
}
