{
  "version": "{{ version }}",
  "username": "{{ username }}",
  "pubkey": "{{ pubkey }}",
  "encrypted": {{ encrypted|lower }},
  "last_used_data_dir": "{{ last_used_data_dir }}",
  "default_profile_link": "{{ default_profile_link }}",
  "recent_links": [
    {% for link in recent_links %}
    "{{ link }}"{% if not loop.last %},{% endif %}
    {% endfor %}
  ]
}
