{
  "$schema": "https://filu-x.org/schemas/profile-v0.0.1.json",
  "version": "{{ version }}",
  "pubkey": "{{ pubkey }}",
  "display_name": "@{{ username }}",
  "display_name_normalized": "{{ username | lower }}",
  "author": "@{{ username }}",
  "feed_cid": "{{ feed_cid }}",
  "bio": "",
  "avatar_url": "",
  "created_at": "{{ now_iso8601 }}",
  "updated_at": "{{ now_iso8601 }}",
  "access_points": [],
  "signature": "{{ signature }}"
}
